In [1]:
#데이터전처리 import
import pandas as pd
import numpy as np
from solarpy import irradiance_on_plane
from datetime import datetime
import warnings
from glob import glob
import chardet 
import pickle



#tensorflow 
import tensorflow as tf
import tensorflow.keras
import tensorflow.keras.layers
from tensorflow.keras.layers import Conv2D, Dense , Flatten,MaxPooling2D,ZeroPadding2D,MaxPool2D,GlobalMaxPooling2D,GlobalAveragePooling2D
from tensorflow.keras import initializers
from tensorflow.keras.models  import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.layers import Conv2D, MaxPooling2D
from tensorflow.keras.regularizers import l2
from tensorflow.keras.layers import Conv2D, BatchNormalization, Activation, Add
from tensorflow.keras import Model
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.callbacks import LearningRateScheduler
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import regularizers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation
from tensorflow.keras.metrics import Accuracy
import tensorflow.keras.backend as K
from tensorflow.keras.losses import Loss
from tensorflow.keras.activations import selu
#데이터시각
import matplotlib.pyplot as plt
import os
import re
import PIL 
from PIL import Image
import matplotlib.pyplot as plt
import math
import matplotlib

2024-01-29 16:33:22.768231: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [2]:
#gpus = tf.config.experimental.list_physical_devices('GPU')
#print("사용 가능한 GPU 장치:", gpus)

In [3]:
#from tensorflow.python.client import device_lib
#device_lib.list_local_devices()

In [4]:
#gpus = tf.config.list_physical_devices('GPU')
#if gpus:
#  try:
#    # Currently, memory growth needs to be the same across GPUs
#    for gpu in gpus:
#      tf.config.experimental.set_memory_growth(gpu, True)
#    logical_gpus = tf.config.list_logical_devices('GPU')
#    print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPUs")
#  except RuntimeError as e:
#    # Memory growth must be set before GPUs have been initialized
#    print(e)

In [5]:
gpus = tf.config.list_physical_devices('GPU')
if gpus:
  # 텐서플로가 특정 GPU만 사용하도록 제한
  try:
    tf.config.set_visible_devices(gpus[3], 'GPU')
  except RuntimeError as e:
    # 프로그램 시작시에 접근 가능한 장치가 설정되어야만 합니다
    print(e)

print(gpus[3])

PhysicalDevice(name='/physical_device:GPU:3', device_type='GPU')

2024-01-29 16:33:24.617544: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2024-01-29 16:33:24.619127: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2024-01-29 16:33:24.906892: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:07:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2024-01-29 16:33:24.913741: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 1 with properties:
pciBusID: 0000:08:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2024-01-29 16:33:24.919328: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 2 with properties:
pciBusID: 0000:0d:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2024-01-29 16:33:24.921660: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 3 with properties:
pciBusID: 0000:0f:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2024-01-29 16:33:24.925444: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 4 with properties:
pciBusID: 0000:04:00.0 name: NVIDIA TITAN Xp computeCapability: 6.1
coreClock: 1.582GHz coreCount: 30 deviceMemorySize: 11.91GiB deviceMemoryBandwidth: 510.07GiB/s
2024-01-29 16:33:24.931579: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 5 with properties:
pciBusID: 0000:06:00.0 name: NVIDIA TITAN Xp computeCapability: 6.1
coreClock: 1.582GHz coreCount: 30 deviceMemorySize: 11.91GiB deviceMemoryBandwidth: 510.07GiB/s
2024-01-29 16:33:24.937300: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 6 with properties:
pciBusID: 0000:0c:00.0 name: NVIDIA TITAN Xp computeCapability: 6.1
coreClock: 1.582GHz coreCount: 30 deviceMemorySize: 11.91GiB deviceMemoryBandwidth: 510.07GiB/s
2024-01-29 16:33:24.940326: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 7 with properties:
pciBusID: 0000:0e:00.0 name: NVIDIA TITAN Xp computeCapability: 6.1
coreClock: 1.582GHz coreCount: 30 deviceMemorySize: 11.91GiB deviceMemoryBandwidth: 510.07GiB/s
2024-01-29 16:33:24.940351: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2024-01-29 16:33:24.942278: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2024-01-29 16:33:24.942309: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2024-01-29 16:33:24.944307: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2024-01-29 16:33:24.944610: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2024-01-29 16:33:24.946618: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2024-01-29 16:33:24.947687: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2024-01-29 16:33:24.951972: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2024-01-29 16:33:25.023596: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0, 1, 2, 3, 4, 5, 6, 7

<h1>계산 일사량 계산함수</h1>

In [6]:
def C_Insolation_add(df, lat):
    vnorm = np.array([0, 0, -1])  # 정점을 향하는 평면
    h = 0  # 해수면


    Insolation_list = []
    df['일시'] = pd.to_datetime(df['일시'])

    for i in range(len(df)):
        date = df.iloc[i]['일시']
        Insolation = int(irradiance_on_plane(vnorm, h, date, lat)) * 3600 / 1000000
        Insolation_list.append(Insolation)
    
    df['c일사량'] = Insolation_list
    return df

<h1>데이터로드</h1>
encoding 전부꼬와놔서  chardet로 엔코딩확인하고 불러함

<h2>경로 확인후 엔코딩검사</h2>

In [7]:
path = "/home/youngjun/csv/"

with open(path+'dangjin_obs_data관측.csv', 'rb') as file:
   result = chardet.detect(file.read())
   print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

<h2>dangjin_obs_data관측 열기</h2>

In [8]:
files = sorted(glob(path+'*.csv'))
df = pd.read_csv(path+'dangjin_obs_data관측.csv', encoding='utf-8')

df

        지점 지점명                일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)
0      129  서산  2018-03-01 00:00     3.1      3.6     340.0   96.0        NaN
1      129  서산  2018-03-01 01:00     2.8      0.7     140.0   97.0        NaN
2      129  서산  2018-03-01 02:00     2.6      3.2     320.0   95.0        NaN
3      129  서산  2018-03-01 03:00     2.0      1.9     230.0   97.0        NaN
4      129  서산  2018-03-01 04:00     2.2      2.1     180.0   97.0        NaN
...    ...  ..               ...     ...      ...       ...    ...        ...
25621  129  서산  2021-01-31 19:00     6.7      1.5     200.0   75.0        8.0
25622  129  서산  2021-01-31 20:00     6.2      0.8     200.0   77.0        8.0
25623  129  서산  2021-01-31 21:00     5.3      0.7     230.0   82.0        8.0
25624  129  서산  2021-01-31 22:00     5.8      1.0     200.0   77.0        8.0
25625  129  서산  2021-01-31 23:00     5.3      0.6     230.0   80.0        7.0

[25626 rows x 8 columns]

<h2> 데이터결측치확인</h2>

In [9]:
df.shape
print(df.isnull().sum())

지점              0
지점명             0
일시              0
기온(°C)         37
풍속(m/s)        36
풍향(16방위)       36
습도(%)          35
전운량(10분위)    3970
dtype: int64

<h2>데이터열제거<h2>
지점및 지점명은 쓸모가없음

In [10]:
df.drop(df.columns[[0, 1]], axis=1, inplace=True)
original_df=pd.DataFrame(df)
df

                     일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)
0      2018-03-01 00:00     3.1      3.6     340.0   96.0        NaN
1      2018-03-01 01:00     2.8      0.7     140.0   97.0        NaN
2      2018-03-01 02:00     2.6      3.2     320.0   95.0        NaN
3      2018-03-01 03:00     2.0      1.9     230.0   97.0        NaN
4      2018-03-01 04:00     2.2      2.1     180.0   97.0        NaN
...                 ...     ...      ...       ...    ...        ...
25621  2021-01-31 19:00     6.7      1.5     200.0   75.0        8.0
25622  2021-01-31 20:00     6.2      0.8     200.0   77.0        8.0
25623  2021-01-31 21:00     5.3      0.7     230.0   82.0        8.0
25624  2021-01-31 22:00     5.8      1.0     200.0   77.0        8.0
25625  2021-01-31 23:00     5.3      0.6     230.0   80.0        7.0

[25626 rows x 6 columns]

<h2>위도를 통한계산 일사량 계산</h2>
당진 위도 37.0507

In [11]:
lat = 37.0507 # 서울의 위도
df = C_Insolation_add(df, lat)
df

                       일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
0     2018-03-01 00:00:00     3.1      3.6     340.0   96.0        NaN   0.0
1     2018-03-01 01:00:00     2.8      0.7     140.0   97.0        NaN   0.0
2     2018-03-01 02:00:00     2.6      3.2     320.0   95.0        NaN   0.0
3     2018-03-01 03:00:00     2.0      1.9     230.0   97.0        NaN   0.0
4     2018-03-01 04:00:00     2.2      2.1     180.0   97.0        NaN   0.0
...                   ...     ...      ...       ...    ...        ...   ...
25621 2021-01-31 19:00:00     6.7      1.5     200.0   75.0        8.0   0.0
25622 2021-01-31 20:00:00     6.2      0.8     200.0   77.0        8.0   0.0
25623 2021-01-31 21:00:00     5.3      0.7     230.0   82.0        8.0   0.0
25624 2021-01-31 22:00:00     5.8      1.0     200.0   77.0        8.0   0.0
25625 2021-01-31 23:00:00     5.3      0.6     230.0   80.0        7.0   0.0

[25626 rows x 7 columns]

<h2>일사량 데이터 잘들어갔나 확인<h2>

In [12]:
max_value = df['c일사량'].max()
print(max_value)

3.33

<h3> 신뢰도 플래그 만들기</h3>
플래그 데이터 프레임 만들기 데이터 시간 부터 맞나확인함

In [13]:
df['일시'] = pd.to_datetime(df['일시'])
full_range = pd.date_range(start='2018-03-01 00:00:00', end='2021-01-31 23:00:00', freq='H')

# 누락된 시간 찾기
missing_times = full_range.difference(df['일시'])
print(missing_times)

DatetimeIndex(['2018-07-24 11:00:00', '2018-07-24 12:00:00',
               '2018-07-24 13:00:00', '2018-07-24 14:00:00',
               '2018-07-24 15:00:00', '2018-07-24 16:00:00'],
              dtype='datetime64[ns]', freq=None)

<h3>데이터의 시간 결측치 제거</h3>
25625->25632

In [14]:
full_time_series = pd.date_range(start='2018-03-01 00:00:00', end='2021-01-31 23:00:00', freq='H')
df_full_time_series = pd.DataFrame(full_time_series, columns=['일시'])
df_merged = df_full_time_series.merge(df, on='일시', how='left')
df_merged

                       일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
0     2018-03-01 00:00:00     3.1      3.6     340.0   96.0        NaN   0.0
1     2018-03-01 01:00:00     2.8      0.7     140.0   97.0        NaN   0.0
2     2018-03-01 02:00:00     2.6      3.2     320.0   95.0        NaN   0.0
3     2018-03-01 03:00:00     2.0      1.9     230.0   97.0        NaN   0.0
4     2018-03-01 04:00:00     2.2      2.1     180.0   97.0        NaN   0.0
...                   ...     ...      ...       ...    ...        ...   ...
25627 2021-01-31 19:00:00     6.7      1.5     200.0   75.0        8.0   0.0
25628 2021-01-31 20:00:00     6.2      0.8     200.0   77.0        8.0   0.0
25629 2021-01-31 21:00:00     5.3      0.7     230.0   82.0        8.0   0.0
25630 2021-01-31 22:00:00     5.8      1.0     200.0   77.0        8.0   0.0
25631 2021-01-31 23:00:00     5.3      0.6     230.0   80.0        7.0   0.0

[25632 rows x 7 columns]

In [15]:
specific_row = df_merged.loc[df_merged['일시'] == '2018-07-24 15:00:00']
print(specific_row)

                      일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
3495 2018-07-24 15:00:00     NaN      NaN       NaN    NaN        NaN   NaN

<h1> 일시 인덱스로 바꿈</h1>

In [16]:
df_merged.set_index('일시', inplace=True)
df_merged

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2018-03-01 00:00:00     3.1      3.6     340.0   96.0        NaN   0.0
2018-03-01 01:00:00     2.8      0.7     140.0   97.0        NaN   0.0
2018-03-01 02:00:00     2.6      3.2     320.0   95.0        NaN   0.0
2018-03-01 03:00:00     2.0      1.9     230.0   97.0        NaN   0.0
2018-03-01 04:00:00     2.2      2.1     180.0   97.0        NaN   0.0
...                     ...      ...       ...    ...        ...   ...
2021-01-31 19:00:00     6.7      1.5     200.0   75.0        8.0   0.0
2021-01-31 20:00:00     6.2      0.8     200.0   77.0        8.0   0.0
2021-01-31 21:00:00     5.3      0.7     230.0   82.0        8.0   0.0
2021-01-31 22:00:00     5.8      1.0     200.0   77.0        8.0   0.0
2021-01-31 23:00:00     5.3      0.6     230.0   80.0        7.0   0.0

[25632 rows x 6 columns]

<h3> 데이터 변경점추적</h3>

In [17]:
new_df = df_merged.applymap(lambda x: 1 if pd.notnull(x) else 0)
row_sums = new_df.sum(axis=1)
reliability = row_sums / len(new_df.columns)
new_df['신뢰도'] = reliability
new_df

,기온(°C),풍속(m/s),풍향(16방위),습도(%),전운량(10분위),c일사량,신뢰도
일시,,,,,,,
2018-03-01 00:00:00,1,1,1,1,0,1,0.833333
2018-03-01 01:00:00,1,1,1,1,0,1,0.833333
2018-03-01 02:00:00,1,1,1,1,0,1,0.833333
2018-03-01 03:00:00,1,1,1,1,0,1,0.833333
2018-03-01 04:00:00,1,1,1,1,0,1,0.833333
...,...,...,...,...,...,...,...
2021-01-31 19:00:00,1,1,1,1,1,1,1.000000
2021-01-31 20:00:00,1,1,1,1,1,1,1.000000
2021-01-31 21:00:00,1,1,1,1,1,1,1.000000
2021-01-31 22:00:00,1,1,1,1,1,1,1.000000
2021-01-31 23:00:00,1,1,1,1,1,1,1.000000

In [18]:
df_merged = df_merged.fillna(0)
df_merged

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2018-03-01 00:00:00     3.1      3.6     340.0   96.0        0.0   0.0
2018-03-01 01:00:00     2.8      0.7     140.0   97.0        0.0   0.0
2018-03-01 02:00:00     2.6      3.2     320.0   95.0        0.0   0.0
2018-03-01 03:00:00     2.0      1.9     230.0   97.0        0.0   0.0
2018-03-01 04:00:00     2.2      2.1     180.0   97.0        0.0   0.0
...                     ...      ...       ...    ...        ...   ...
2021-01-31 19:00:00     6.7      1.5     200.0   75.0        8.0   0.0
2021-01-31 20:00:00     6.2      0.8     200.0   77.0        8.0   0.0
2021-01-31 21:00:00     5.3      0.7     230.0   82.0        8.0   0.0
2021-01-31 22:00:00     5.8      1.0     200.0   77.0        8.0   0.0
2021-01-31 23:00:00     5.3      0.6     230.0   80.0        7.0   0.0

[25632 rows x 6 columns]

In [19]:
specific_row = df_merged.loc['2018-07-24 15:00:00']
print(specific_row)

기온(°C)       0.0
풍속(m/s)      0.0
풍향(16방위)     0.0
습도(%)        0.0
전운량(10분위)    0.0
c일사량         0.0
Name: 2018-07-24 15:00:00, dtype: float64

0이상의 일사량만 가져옴

In [20]:
filtered_df = df_merged[df_merged['c일사량'] > 0]
filtered_df

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)    c일사량
일시
2018-03-01 07:00:00     2.2      6.4     290.0   86.0        0.0  0.0504
2018-03-01 08:00:00     1.0      7.7     320.0   82.0        0.0  0.5652
2018-03-01 09:00:00     0.3      8.9     320.0   71.0        0.0  1.2204
2018-03-01 10:00:00     0.6      7.9     320.0   63.0        0.0  1.7748
2018-03-01 11:00:00     0.5      9.1     320.0   58.0        0.0  2.1348
...                     ...      ...       ...    ...        ...     ...
2021-01-31 12:00:00     9.5      3.6     180.0   50.0        6.0  1.6884
2021-01-31 13:00:00     9.1      2.9     200.0   49.0        7.0  1.5696
2021-01-31 14:00:00    11.0      5.1     200.0   58.0        8.0  1.2348
2021-01-31 15:00:00    10.4      5.0     230.0   60.0        8.0  0.7344
2021-01-31 16:00:00     9.8      3.7     200.0   61.0        9.0  0.2052

[12072 rows x 6 columns]

new_df=마스킹 filtered_df=인풋

In [21]:
valid_dates = filtered_df[filtered_df['c일사량'] >= 0].index
new_df = new_df.loc[valid_dates]
new_df

,기온(°C),풍속(m/s),풍향(16방위),습도(%),전운량(10분위),c일사량,신뢰도
일시,,,,,,,
2018-03-01 07:00:00,1,1,1,1,0,1,0.833333
2018-03-01 08:00:00,1,1,1,1,0,1,0.833333
2018-03-01 09:00:00,1,1,1,1,0,1,0.833333
2018-03-01 10:00:00,1,1,1,1,0,1,0.833333
2018-03-01 11:00:00,1,1,1,1,0,1,0.833333
...,...,...,...,...,...,...,...
2021-01-31 12:00:00,1,1,1,1,1,1,1.000000
2021-01-31 13:00:00,1,1,1,1,1,1,1.000000
2021-01-31 14:00:00,1,1,1,1,1,1,1.000000
2021-01-31 15:00:00,1,1,1,1,1,1,1.000000
2021-01-31 16:00:00,1,1,1,1,1,1,1.000000

<h1>데이터 전처리</h1>

<h1>데이터 스케일링 및 주기성제공</h1>

<h1>정답데이터</h1>
'/home/youngjun/csv/ydata/2021_당진_일사량.csv',
 '/home/youngjun/csv/ydata/2018_당진_일사량.csv',
 '/home/youngjun/csv/ydata/2019_당진_일사량.csv',
 '/home/youngjun/csv/ydata/2020_당진_일사량.csv'
 총 4개의 파일이라 합치고 써야함

In [22]:
path = '/home/youngjun/csv/ydata/*.csv'
csv_files = glob(path)
df_list = []

for file in csv_files:
    
     print(file)
     df = pd.read_csv(file, encoding='EUC-KR')  # 혹은 해당하는 인코딩을 사용합니다.
     df_list.append(df)
    
combined_df = pd.concat(df_list, ignore_index=True)    
combined_df['일시'] = pd.to_datetime(combined_df['일시'])
combined_df = combined_df.sort_values('일시', ascending=True)
combined_df

/home/youngjun/csv/ydata/2021_당진_일사량.csv
/home/youngjun/csv/ydata/2018_당진_일사량.csv
/home/youngjun/csv/ydata/2019_당진_일사량.csv
/home/youngjun/csv/ydata/2020_당진_일사량.csv

      지점 지점명                  일시  일사(MJ/m2)
341  129  서산 2018-01-01 08:00:00       0.00
342  129  서산 2018-01-01 09:00:00       0.18
343  129  서산 2018-01-01 10:00:00       0.45
344  129  서산 2018-01-01 11:00:00       0.90
345  129  서산 2018-01-01 12:00:00       1.20
..   ...  ..                 ...        ...
336  129  서산 2021-01-31 14:00:00       1.74
337  129  서산 2021-01-31 15:00:00       1.37
338  129  서산 2021-01-31 16:00:00       0.73
339  129  서산 2021-01-31 17:00:00       0.24
340  129  서산 2021-01-31 18:00:00       0.04

[14647 rows x 4 columns]

In [23]:
combined_df = combined_df.drop(['지점','지점명'], axis=1)
combined_df.set_index('일시', inplace=True)
combined_df

                     일사(MJ/m2)
일시
2018-01-01 08:00:00       0.00
2018-01-01 09:00:00       0.18
2018-01-01 10:00:00       0.45
2018-01-01 11:00:00       0.90
2018-01-01 12:00:00       1.20
...                        ...
2021-01-31 14:00:00       1.74
2021-01-31 15:00:00       1.37
2021-01-31 16:00:00       0.73
2021-01-31 17:00:00       0.24
2021-01-31 18:00:00       0.04

[14647 rows x 1 columns]

In [24]:
combined_df = combined_df.loc['2018-03-01 00:00:00':'2021-01-31 23:00']
combined_df

                     일사(MJ/m2)
일시
2018-03-01 08:00:00       0.05
2018-03-01 09:00:00       0.69
2018-03-01 10:00:00       1.43
2018-03-01 11:00:00       2.11
2018-03-01 12:00:00       2.57
...                        ...
2021-01-31 14:00:00       1.74
2021-01-31 15:00:00       1.37
2021-01-31 16:00:00       0.73
2021-01-31 17:00:00       0.24
2021-01-31 18:00:00       0.04

[13979 rows x 1 columns]

In [25]:
filtered_df
new_filtered_df=filtered_df.copy()
new_filtered_df

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)    c일사량
일시
2018-03-01 07:00:00     2.2      6.4     290.0   86.0        0.0  0.0504
2018-03-01 08:00:00     1.0      7.7     320.0   82.0        0.0  0.5652
2018-03-01 09:00:00     0.3      8.9     320.0   71.0        0.0  1.2204
2018-03-01 10:00:00     0.6      7.9     320.0   63.0        0.0  1.7748
2018-03-01 11:00:00     0.5      9.1     320.0   58.0        0.0  2.1348
...                     ...      ...       ...    ...        ...     ...
2021-01-31 12:00:00     9.5      3.6     180.0   50.0        6.0  1.6884
2021-01-31 13:00:00     9.1      2.9     200.0   49.0        7.0  1.5696
2021-01-31 14:00:00    11.0      5.1     200.0   58.0        8.0  1.2348
2021-01-31 15:00:00    10.4      5.0     230.0   60.0        8.0  0.7344
2021-01-31 16:00:00     9.8      3.7     200.0   61.0        9.0  0.2052

[12072 rows x 6 columns]

In [26]:
common_indices = combined_df.index.intersection(new_filtered_df.index)
filtered_a = combined_df.loc[common_indices]
filtered_a

                     일사(MJ/m2)
일시
2018-03-01 08:00:00       0.05
2018-03-01 09:00:00       0.69
2018-03-01 10:00:00       1.43
2018-03-01 11:00:00       2.11
2018-03-01 12:00:00       2.57
...                        ...
2021-01-31 12:00:00       1.75
2021-01-31 13:00:00       1.63
2021-01-31 14:00:00       1.74
2021-01-31 15:00:00       1.37
2021-01-31 16:00:00       0.73

[11888 rows x 1 columns]

In [27]:
filtered_b = new_filtered_df.loc[common_indices]
filtered_b

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)    c일사량
일시
2018-03-01 08:00:00     1.0      7.7     320.0   82.0        0.0  0.5652
2018-03-01 09:00:00     0.3      8.9     320.0   71.0        0.0  1.2204
2018-03-01 10:00:00     0.6      7.9     320.0   63.0        0.0  1.7748
2018-03-01 11:00:00     0.5      9.1     320.0   58.0        0.0  2.1348
2018-03-01 12:00:00     0.7      6.7     320.0   60.0        0.0  2.2572
...                     ...      ...       ...    ...        ...     ...
2021-01-31 12:00:00     9.5      3.6     180.0   50.0        6.0  1.6884
2021-01-31 13:00:00     9.1      2.9     200.0   49.0        7.0  1.5696
2021-01-31 14:00:00    11.0      5.1     200.0   58.0        8.0  1.2348
2021-01-31 15:00:00    10.4      5.0     230.0   60.0        8.0  0.7344
2021-01-31 16:00:00     9.8      3.7     200.0   61.0        9.0  0.2052

[11888 rows x 6 columns]

In [28]:
def normalize_humidity(humidity):
    return (humidity - min_humidity) / (max_humidity - min_humidity) * 2 - 1

In [29]:
filtered_b = filtered_b.reset_index()
filtered_b['일시'] = pd.to_datetime(filtered_b['일시'])
filtered_b['hour'] = filtered_b['일시'].dt.hour
filtered_b['hour_cos'] = np.cos(2 * np.pi * filtered_b['hour'] / 24)
filtered_b['hour_sin'] = np.sin(2 * np.pi * filtered_b['hour'] / 24)

filtered_b['month'] = filtered_b['일시'].dt.month
filtered_b['month_cos'] = np.cos(2 * np.pi * filtered_b['month'] / 12)
filtered_b['month_sin'] = np.sin(2 * np.pi * filtered_b['month'] / 12)

filtered_b['year'] = filtered_b['일시'].dt.year
filtered_b['year']=filtered_b['year']-2018

In [30]:
min_humidity = filtered_b['습도(%)'].min()
max_humidity = filtered_b['습도(%)'].max()
filtered_b['정규화된습도'] = filtered_b['습도(%)'].apply(normalize_humidity)

min_humidity = filtered_b['전운량(10분위)'].min()
max_humidity = filtered_b['전운량(10분위)'].max()
filtered_b['정규화된전운량'] = filtered_b['전운량(10분위)'].apply(normalize_humidity)
filtered_b

,일시,기온(°C),풍속(m/s),풍향(16방위),습도(%),전운량(10분위),c일사량,hour,hour_cos,hour_sin,month,month_cos,month_sin,year,정규화된습도,정규화된전운량
0,2018-03-01 08:00:00,1.0,7.7,320.0,82.0,0.0,0.5652,8,-0.500000,8.660254e-01,3,6.123234e-17,1.0,0,0.656566,-1.0
1,2018-03-01 09:00:00,0.3,8.9,320.0,71.0,0.0,1.2204,9,-0.707107,7.071068e-01,3,6.123234e-17,1.0,0,0.434343,-1.0
2,2018-03-01 10:00:00,0.6,7.9,320.0,63.0,0.0,1.7748,10,-0.866025,5.000000e-01,3,6.123234e-17,1.0,0,0.272727,-1.0
3,2018-03-01 11:00:00,0.5,9.1,320.0,58.0,0.0,2.1348,11,-0.965926,2.588190e-01,3,6.123234e-17,1.0,0,0.171717,-1.0
4,2018-03-01 12:00:00,0.7,6.7,320.0,60.0,0.0,2.2572,12,-1.000000,1.224647e-16,3,6.123234e-17,1.0,0,0.212121,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11883,2021-01-31 12:00:00,9.5,3.6,180.0,50.0,6.0,1.6884,12,-1.000000,1.224647e-16,1,8.660254e-01,0.5,3,0.010101,0.2
11884,2021-01-31 13:00:00,9.1,2.9,200.0,49.0,7.0,1.5696,13,-0.965926,-2.588190e-01,1,8.660254e-01,0.5,3,-0.010101,0.4
11885,2021-01-31 14:00:00,11.0,5.1,200.0,58.0,8.0,1.2348,14,-0.866025,-5.000000e-01,1,8.660254e-01,0.5,3,0.171717,0.6
11886,2021-01-31 15:00:00,10.4,5.0,230.0,60.0,8.0,0.7344,15,-0.707107,-7.071068e-01,1,8.660254e-01,0.5,3,0.212121,0.6
11887,2021-01-31 16:00:00,9.8,3.7,200.0,61.0,9.0,0.2052,16,-0.500000,-8.660254e-01,1,8.660254e-01,0.5,3,0.232323,0.8

In [31]:
wv = filtered_b.pop('풍속(m/s)')


# 'wd (deg)' 열을 라디안으로 변환
wd_rad = filtered_b['풍향(16방위)'] * np.pi / 180

# 바람 벡터의 x 및 y 구성 요소 계산 및 추가
filtered_b['Wx'] = wv * np.cos(wd_rad)
filtered_b['Wy'] = wv * np.sin(wd_rad)


filtered_b

,일시,기온(°C),풍향(16방위),습도(%),전운량(10분위),c일사량,hour,hour_cos,hour_sin,month,month_cos,month_sin,year,정규화된습도,정규화된전운량,Wx,Wy
0,2018-03-01 08:00:00,1.0,320.0,82.0,0.0,0.5652,8,-0.500000,8.660254e-01,3,6.123234e-17,1.0,0,0.656566,-1.0,5.898542,-4.949465e+00
1,2018-03-01 09:00:00,0.3,320.0,71.0,0.0,1.2204,9,-0.707107,7.071068e-01,3,6.123234e-17,1.0,0,0.434343,-1.0,6.817796,-5.720810e+00
2,2018-03-01 10:00:00,0.6,320.0,63.0,0.0,1.7748,10,-0.866025,5.000000e-01,3,6.123234e-17,1.0,0,0.272727,-1.0,6.051751,-5.078022e+00
3,2018-03-01 11:00:00,0.5,320.0,58.0,0.0,2.1348,11,-0.965926,2.588190e-01,3,6.123234e-17,1.0,0,0.171717,-1.0,6.971004,-5.849367e+00
4,2018-03-01 12:00:00,0.7,320.0,60.0,0.0,2.2572,12,-1.000000,1.224647e-16,3,6.123234e-17,1.0,0,0.212121,-1.0,5.132498,-4.306677e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11883,2021-01-31 12:00:00,9.5,180.0,50.0,6.0,1.6884,12,-1.000000,1.224647e-16,1,8.660254e-01,0.5,3,0.010101,0.2,-3.600000,4.408728e-16
11884,2021-01-31 13:00:00,9.1,200.0,49.0,7.0,1.5696,13,-0.965926,-2.588190e-01,1,8.660254e-01,0.5,3,-0.010101,0.4,-2.725109,-9.918584e-01
11885,2021-01-31 14:00:00,11.0,200.0,58.0,8.0,1.2348,14,-0.866025,-5.000000e-01,1,8.660254e-01,0.5,3,0.171717,0.6,-4.792432,-1.744303e+00
11886,2021-01-31 15:00:00,10.4,230.0,60.0,8.0,0.7344,15,-0.707107,-7.071068e-01,1,8.660254e-01,0.5,3,0.212121,0.6,-3.213938,-3.830222e+00
11887,2021-01-31 16:00:00,9.8,200.0,61.0,9.0,0.2052,16,-0.500000,-8.660254e-01,1,8.660254e-01,0.5,3,0.232323,0.8,-3.476863,-1.265475e+00

In [32]:
filtered_b.set_index('일시', inplace=True)

In [33]:
filtered_b.drop(columns=['hour','month','습도(%)','전운량(10분위)','풍향(16방위)'], inplace=True)


filtered_b

,기온(°C),c일사량,hour_cos,hour_sin,month_cos,month_sin,year,정규화된습도,정규화된전운량,Wx,Wy
일시,,,,,,,,,,,
2018-03-01 08:00:00,1.0,0.5652,-0.500000,8.660254e-01,6.123234e-17,1.0,0,0.656566,-1.0,5.898542,-4.949465e+00
2018-03-01 09:00:00,0.3,1.2204,-0.707107,7.071068e-01,6.123234e-17,1.0,0,0.434343,-1.0,6.817796,-5.720810e+00
2018-03-01 10:00:00,0.6,1.7748,-0.866025,5.000000e-01,6.123234e-17,1.0,0,0.272727,-1.0,6.051751,-5.078022e+00
2018-03-01 11:00:00,0.5,2.1348,-0.965926,2.588190e-01,6.123234e-17,1.0,0,0.171717,-1.0,6.971004,-5.849367e+00
2018-03-01 12:00:00,0.7,2.2572,-1.000000,1.224647e-16,6.123234e-17,1.0,0,0.212121,-1.0,5.132498,-4.306677e+00
...,...,...,...,...,...,...,...,...,...,...,...
2021-01-31 12:00:00,9.5,1.6884,-1.000000,1.224647e-16,8.660254e-01,0.5,3,0.010101,0.2,-3.600000,4.408728e-16
2021-01-31 13:00:00,9.1,1.5696,-0.965926,-2.588190e-01,8.660254e-01,0.5,3,-0.010101,0.4,-2.725109,-9.918584e-01
2021-01-31 14:00:00,11.0,1.2348,-0.866025,-5.000000e-01,8.660254e-01,0.5,3,0.171717,0.6,-4.792432,-1.744303e+00
2021-01-31 15:00:00,10.4,0.7344,-0.707107,-7.071068e-01,8.660254e-01,0.5,3,0.212121,0.6,-3.213938,-3.830222e+00
2021-01-31 16:00:00,9.8,0.2052,-0.500000,-8.660254e-01,8.660254e-01,0.5,3,0.232323,0.8,-3.476863,-1.265475e+00

In [34]:
# 데이터프레임 df의 길이(행의 수)를 계산
length = len(filtered_b)

# 분할 지점 계산 (80% 지점)
split_point = int(length * 0.8)

# 데이터프레임을 학습 세트와 검증 세트로 분할
x_train_df = filtered_b[:split_point]
x_valid_df = filtered_b[split_point:]

In [35]:
x_train_df

,기온(°C),c일사량,hour_cos,hour_sin,month_cos,month_sin,year,정규화된습도,정규화된전운량,Wx,Wy
일시,,,,,,,,,,,
2018-03-01 08:00:00,1.0,0.5652,-0.500000,8.660254e-01,6.123234e-17,1.000000e+00,0,0.656566,-1.0,5.898542,-4.949465
2018-03-01 09:00:00,0.3,1.2204,-0.707107,7.071068e-01,6.123234e-17,1.000000e+00,0,0.434343,-1.0,6.817796,-5.720810
2018-03-01 10:00:00,0.6,1.7748,-0.866025,5.000000e-01,6.123234e-17,1.000000e+00,0,0.272727,-1.0,6.051751,-5.078022
2018-03-01 11:00:00,0.5,2.1348,-0.965926,2.588190e-01,6.123234e-17,1.000000e+00,0,0.171717,-1.0,6.971004,-5.849367
2018-03-01 12:00:00,0.7,2.2572,-1.000000,1.224647e-16,6.123234e-17,1.000000e+00,0,0.212121,-1.0,5.132498,-4.306677
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-24 08:00:00,24.4,1.6992,-0.500000,8.660254e-01,-1.000000e+00,1.224647e-16,2,0.131313,1.0,-3.570832,1.299677
2020-06-24 09:00:00,23.6,2.3616,-0.707107,7.071068e-01,-1.000000e+00,1.224647e-16,2,0.252525,1.0,-3.523804,2.956823
2020-06-24 10:00:00,21.1,2.8800,-0.866025,5.000000e-01,-1.000000e+00,1.224647e-16,2,0.676768,1.0,-0.923454,2.537170
2020-06-24 11:00:00,21.4,3.2112,-0.965926,2.588190e-01,-1.000000e+00,1.224647e-16,2,0.656566,1.0,-1.265475,3.476863
2020-06-24 12:00:00,22.0,3.3264,-1.000000,1.224647e-16,-1.000000e+00,1.224647e-16,2,0.676768,1.0,-1.685298,1.414133

In [36]:
x_valid_df

,기온(°C),c일사량,hour_cos,hour_sin,month_cos,month_sin,year,정규화된습도,정규화된전운량,Wx,Wy
일시,,,,,,,,,,,
2020-06-24 13:00:00,23.8,3.2112,-0.965926,-2.588190e-01,-1.000000,1.224647e-16,2,0.373737,1.0,-3.758770,1.368081e+00
2020-06-24 14:00:00,23.6,2.8800,-0.866025,-5.000000e-01,-1.000000,1.224647e-16,2,0.454545,1.0,-3.382893,1.231273e+00
2020-06-24 15:00:00,22.2,2.3616,-0.707107,-7.071068e-01,-1.000000,1.224647e-16,2,0.717172,0.8,-3.288924,1.197071e+00
2020-06-24 16:00:00,22.2,1.6992,-0.500000,-8.660254e-01,-1.000000,1.224647e-16,2,0.656566,1.0,-3.194955,1.162868e+00
2020-06-24 17:00:00,22.8,0.9684,-0.258819,-9.659258e-01,-1.000000,1.224647e-16,2,0.616162,0.8,-3.500000,4.286264e-16
...,...,...,...,...,...,...,...,...,...,...,...
2021-01-31 12:00:00,9.5,1.6884,-1.000000,1.224647e-16,0.866025,5.000000e-01,3,0.010101,0.2,-3.600000,4.408728e-16
2021-01-31 13:00:00,9.1,1.5696,-0.965926,-2.588190e-01,0.866025,5.000000e-01,3,-0.010101,0.4,-2.725109,-9.918584e-01
2021-01-31 14:00:00,11.0,1.2348,-0.866025,-5.000000e-01,0.866025,5.000000e-01,3,0.171717,0.6,-4.792432,-1.744303e+00
2021-01-31 15:00:00,10.4,0.7344,-0.707107,-7.071068e-01,0.866025,5.000000e-01,3,0.212121,0.6,-3.213938,-3.830222e+00
2021-01-31 16:00:00,9.8,0.2052,-0.500000,-8.660254e-01,0.866025,5.000000e-01,3,0.232323,0.8,-3.476863,-1.265475e+00

In [37]:
new_df
filtered_c = new_df.loc[common_indices]
filtered_c

,기온(°C),풍속(m/s),풍향(16방위),습도(%),전운량(10분위),c일사량,신뢰도
일시,,,,,,,
2018-03-01 08:00:00,1,1,1,1,0,1,0.833333
2018-03-01 09:00:00,1,1,1,1,0,1,0.833333
2018-03-01 10:00:00,1,1,1,1,0,1,0.833333
2018-03-01 11:00:00,1,1,1,1,0,1,0.833333
2018-03-01 12:00:00,1,1,1,1,0,1,0.833333
...,...,...,...,...,...,...,...
2021-01-31 12:00:00,1,1,1,1,1,1,1.000000
2021-01-31 13:00:00,1,1,1,1,1,1,1.000000
2021-01-31 14:00:00,1,1,1,1,1,1,1.000000
2021-01-31 15:00:00,1,1,1,1,1,1,1.000000
2021-01-31 16:00:00,1,1,1,1,1,1,1.000000

In [38]:
#filtered_c.drop(columns=['기온(°C)','풍속(m/s)','풍향(16방위)','습도(%)','전운량(10분위)','c일사량'], inplace=True)
filtered_c.drop(columns=['신뢰도'], inplace=True)
filtered_c

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2018-03-01 08:00:00       1        1         1      1          0     1
2018-03-01 09:00:00       1        1         1      1          0     1
2018-03-01 10:00:00       1        1         1      1          0     1
2018-03-01 11:00:00       1        1         1      1          0     1
2018-03-01 12:00:00       1        1         1      1          0     1
...                     ...      ...       ...    ...        ...   ...
2021-01-31 12:00:00       1        1         1      1          1     1
2021-01-31 13:00:00       1        1         1      1          1     1
2021-01-31 14:00:00       1        1         1      1          1     1
2021-01-31 15:00:00       1        1         1      1          1     1
2021-01-31 16:00:00       1        1         1      1          1     1

[11888 rows x 6 columns]

In [39]:
m_train_df = filtered_c[:split_point]
m_valid_df = filtered_c[split_point:]
m_train_df

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2018-03-01 08:00:00       1        1         1      1          0     1
2018-03-01 09:00:00       1        1         1      1          0     1
2018-03-01 10:00:00       1        1         1      1          0     1
2018-03-01 11:00:00       1        1         1      1          0     1
2018-03-01 12:00:00       1        1         1      1          0     1
...                     ...      ...       ...    ...        ...   ...
2020-06-24 08:00:00       1        1         1      1          1     1
2020-06-24 09:00:00       1        1         1      1          1     1
2020-06-24 10:00:00       1        1         1      1          1     1
2020-06-24 11:00:00       1        1         1      1          1     1
2020-06-24 12:00:00       1        1         1      1          1     1

[9510 rows x 6 columns]

In [40]:
m_valid_df

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2020-06-24 13:00:00       1        1         1      1          1     1
2020-06-24 14:00:00       1        1         1      1          1     1
2020-06-24 15:00:00       1        1         1      1          1     1
2020-06-24 16:00:00       1        1         1      1          1     1
2020-06-24 17:00:00       1        1         1      1          1     1
...                     ...      ...       ...    ...        ...   ...
2021-01-31 12:00:00       1        1         1      1          1     1
2021-01-31 13:00:00       1        1         1      1          1     1
2021-01-31 14:00:00       1        1         1      1          1     1
2021-01-31 15:00:00       1        1         1      1          1     1
2021-01-31 16:00:00       1        1         1      1          1     1

[2378 rows x 6 columns]

In [41]:
filtered_a

                     일사(MJ/m2)
일시
2018-03-01 08:00:00       0.05
2018-03-01 09:00:00       0.69
2018-03-01 10:00:00       1.43
2018-03-01 11:00:00       2.11
2018-03-01 12:00:00       2.57
...                        ...
2021-01-31 12:00:00       1.75
2021-01-31 13:00:00       1.63
2021-01-31 14:00:00       1.74
2021-01-31 15:00:00       1.37
2021-01-31 16:00:00       0.73

[11888 rows x 1 columns]

In [42]:
y_train_df = filtered_a[:split_point]
y_valid_df = filtered_a[split_point:]
y_train_df

                     일사(MJ/m2)
일시
2018-03-01 08:00:00       0.05
2018-03-01 09:00:00       0.69
2018-03-01 10:00:00       1.43
2018-03-01 11:00:00       2.11
2018-03-01 12:00:00       2.57
...                        ...
2020-06-24 08:00:00       0.11
2020-06-24 09:00:00       0.30
2020-06-24 10:00:00       0.30
2020-06-24 11:00:00       0.40
2020-06-24 12:00:00       0.51

[9510 rows x 1 columns]

In [43]:
y_valid_df

                     일사(MJ/m2)
일시
2020-06-24 13:00:00       0.54
2020-06-24 14:00:00       0.36
2020-06-24 15:00:00       0.26
2020-06-24 16:00:00       0.20
2020-06-24 17:00:00       0.25
...                        ...
2021-01-31 12:00:00       1.75
2021-01-31 13:00:00       1.63
2021-01-31 14:00:00       1.74
2021-01-31 15:00:00       1.37
2021-01-31 16:00:00       0.73

[2378 rows x 1 columns]

In [44]:
x_train_df

,기온(°C),c일사량,hour_cos,hour_sin,month_cos,month_sin,year,정규화된습도,정규화된전운량,Wx,Wy
일시,,,,,,,,,,,
2018-03-01 08:00:00,1.0,0.5652,-0.500000,8.660254e-01,6.123234e-17,1.000000e+00,0,0.656566,-1.0,5.898542,-4.949465
2018-03-01 09:00:00,0.3,1.2204,-0.707107,7.071068e-01,6.123234e-17,1.000000e+00,0,0.434343,-1.0,6.817796,-5.720810
2018-03-01 10:00:00,0.6,1.7748,-0.866025,5.000000e-01,6.123234e-17,1.000000e+00,0,0.272727,-1.0,6.051751,-5.078022
2018-03-01 11:00:00,0.5,2.1348,-0.965926,2.588190e-01,6.123234e-17,1.000000e+00,0,0.171717,-1.0,6.971004,-5.849367
2018-03-01 12:00:00,0.7,2.2572,-1.000000,1.224647e-16,6.123234e-17,1.000000e+00,0,0.212121,-1.0,5.132498,-4.306677
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-24 08:00:00,24.4,1.6992,-0.500000,8.660254e-01,-1.000000e+00,1.224647e-16,2,0.131313,1.0,-3.570832,1.299677
2020-06-24 09:00:00,23.6,2.3616,-0.707107,7.071068e-01,-1.000000e+00,1.224647e-16,2,0.252525,1.0,-3.523804,2.956823
2020-06-24 10:00:00,21.1,2.8800,-0.866025,5.000000e-01,-1.000000e+00,1.224647e-16,2,0.676768,1.0,-0.923454,2.537170
2020-06-24 11:00:00,21.4,3.2112,-0.965926,2.588190e-01,-1.000000e+00,1.224647e-16,2,0.656566,1.0,-1.265475,3.476863
2020-06-24 12:00:00,22.0,3.3264,-1.000000,1.224647e-16,-1.000000e+00,1.224647e-16,2,0.676768,1.0,-1.685298,1.414133

In [45]:
m_train_df

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2018-03-01 08:00:00       1        1         1      1          0     1
2018-03-01 09:00:00       1        1         1      1          0     1
2018-03-01 10:00:00       1        1         1      1          0     1
2018-03-01 11:00:00       1        1         1      1          0     1
2018-03-01 12:00:00       1        1         1      1          0     1
...                     ...      ...       ...    ...        ...   ...
2020-06-24 08:00:00       1        1         1      1          1     1
2020-06-24 09:00:00       1        1         1      1          1     1
2020-06-24 10:00:00       1        1         1      1          1     1
2020-06-24 11:00:00       1        1         1      1          1     1
2020-06-24 12:00:00       1        1         1      1          1     1

[9510 rows x 6 columns]

In [46]:
new_order = ['기온(°C)', 'c일사량', 'hour_cos', 'hour_sin', 'month_cos', 'month_sin', 'year', 'humy', 'cloud', 'Wx', 'Wy']
m_train_dfcp=m_train_df.copy()
m_train_dfcp = m_train_dfcp.reindex(columns=new_order)
m_train_dfcp['humy']=m_train_df['습도(%)'].apply(lambda x: 1 if x == 1 else 0)
m_train_dfcp['cloud']=m_train_df['전운량(10분위)'].apply(lambda x: 1 if x == 1 else 0)

mask = (m_train_df['풍속(m/s)'] == 0) | (m_train_df['풍향(16방위)'] == 0)
m_train_dfcp['Wx'] = (~mask).astype(int)
m_train_dfcp['Wy'] = (~mask).astype(int)

m_train_dfcp['hour_cos'] = 1
m_train_dfcp['hour_sin'] = 1
m_train_dfcp['month_cos'] = 1
m_train_dfcp['month_sin'] = 1
m_train_dfcp['year'] = 1
m_train_dfcp

,기온(°C),c일사량,hour_cos,hour_sin,month_cos,month_sin,year,humy,cloud,Wx,Wy
일시,,,,,,,,,,,
2018-03-01 08:00:00,1,1,1,1,1,1,1,1,0,1,1
2018-03-01 09:00:00,1,1,1,1,1,1,1,1,0,1,1
2018-03-01 10:00:00,1,1,1,1,1,1,1,1,0,1,1
2018-03-01 11:00:00,1,1,1,1,1,1,1,1,0,1,1
2018-03-01 12:00:00,1,1,1,1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-24 08:00:00,1,1,1,1,1,1,1,1,1,1,1
2020-06-24 09:00:00,1,1,1,1,1,1,1,1,1,1,1
2020-06-24 10:00:00,1,1,1,1,1,1,1,1,1,1,1
2020-06-24 11:00:00,1,1,1,1,1,1,1,1,1,1,1
2020-06-24 12:00:00,1,1,1,1,1,1,1,1,1,1,1

In [47]:
filtered_c

                     기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)  c일사량
일시
2018-03-01 08:00:00       1        1         1      1          0     1
2018-03-01 09:00:00       1        1         1      1          0     1
2018-03-01 10:00:00       1        1         1      1          0     1
2018-03-01 11:00:00       1        1         1      1          0     1
2018-03-01 12:00:00       1        1         1      1          0     1
...                     ...      ...       ...    ...        ...   ...
2021-01-31 12:00:00       1        1         1      1          1     1
2021-01-31 13:00:00       1        1         1      1          1     1
2021-01-31 14:00:00       1        1         1      1          1     1
2021-01-31 15:00:00       1        1         1      1          1     1
2021-01-31 16:00:00       1        1         1      1          1     1

[11888 rows x 6 columns]

In [48]:
#weights_array=np.array(filtered_c)
#weights_array=weights_array.flatten()
#weights_array

In [49]:

import shap

Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)

In [50]:
class SharedState:
    def __init__(self):
        self.w_value = None
        
shared_state = SharedState()

class W_mse(tf.keras.losses.Loss):
    def __init__(self):
        super().__init__()
        
        
    def call(self,y_true,y_pred):
        weights = shared_state.w_value
        error = K.square(y_pred - y_true)
        
        
        weighted_error = error * weights
        
        sum_weighted_error = K.sum(weighted_error)
        # 가중치의 합으로 나누어 가중 오차율을 계산합니다.
        wmse = sum_weighted_error / K.sum(weights)
        return wmse
    
class WeightedLossCallback3(tf.keras.callbacks.Callback):      
    def __init__(self, batch_size, weights_array,x_train,threshold):
        super().__init__()
        self.batch_size = batch_size
        self.weights_array_buf = weights_array
        self.weights_array=None
        self.batch_index = 0
        self.last_epoch_loss = None
        self.x_train=x_train
        self.threshold=threshold
        
    def get_batch_index(self):
        start=self.batch_index*self.batch_size
        end=start+self.batch_size
        
        current_weights = self.weights_array[start:end]
        
        return current_weights
    
    def on_epoch_begin(self, epoch, logs=None):
        # 에폭이 시작될 때 배치 인덱스를 0으로 초기화
        
        self.batch_index = 0
        if self.last_epoch_loss is not None:
            if self.last_epoch_loss < self.threshold:
                # Loss가 임계값보다 낮을 때의 로직 (예: SHAP 값 로직)
                # self.weights_array를 업데이트
                print("Shape wmse")
                model = self.model
                
                explainer = shap.DeepExplainer(model, self.x_train)
                shap_values = explainer.shap_values(self.x_train)
                shap_values = np.array(shap_values)
                shap_values = np.squeeze(shap_values, axis=0)
                
                abs_shap_values = np.abs(shap_values)
                average_abs_shap_values = np.mean(abs_shap_values, axis=0)

                normalized_shap_values = average_abs_shap_values / np.sum(average_abs_shap_values)
                contributions_per_sample = self.weights_array_buf*normalized_shap_values
                final_confidences = np.sum(contributions_per_sample, axis=1)
                print(final_confidences)
                self.weights_array=tf.cast(final_confidences, tf.float32)
                
            else:
                print("nomal wmse")

                # Loss가 임계값보다 높을 때의 로직 (예: 마스크 맵만 사용)
                # self.weights_array를 업데이트
                active_features_per_sample = np.sum(self.weights_array_buf, axis=1)
                normalized_confidences = active_features_per_sample / 11.0
                self.weights_array=tf.cast(normalized_confidences, tf.float32)
        else:
                active_features_per_sample = np.sum(self.weights_array_buf, axis=1)
                normalized_confidences = active_features_per_sample / 11.0
                self.weights_array=tf.cast(normalized_confidences, tf.float32)
        
    def on_batch_begin(self,batch,logs=None):
        shared_state.w_value=self.get_batch_index()
       # print(shared_state.w_value)
        self.batch_index += 1

    def on_epoch_end(self, epoch, logs=None):
        # 에폭 종료 시 loss 값을 저장
        self.last_epoch_loss = logs.get('loss')

In [51]:
m_train_dfcp_num=m_train_dfcp.to_numpy()
x_train_df_num=x_train_df.to_numpy()

In [52]:
#weighted_loss_callback = WeightedLossCallback(32, m_train_df)
WeightedLossCallback_loss=WeightedLossCallback3(32,m_train_dfcp_num,x_train_df_num,6.8)

In [53]:
model=tf.keras.Sequential()
model.add(Dense(64, input_shape=(11,), activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dense(128, activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3)) # 50% 드롭아웃 적용
model.add(Dense(256, activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3)) # 50% 드롭아웃 적용
model.add(Dense(512, activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.5) )# 50% 드롭아웃 적
#model.add(Dense(1024, activation='tanh',kernel_regularizer=l2(0.01)))
#model.add(Dropout(0.5) )
#model.add(Dense(512, activation='tanh',kernel_regularizer=l2(0.01)))
#model.add(Dropout(0.5) )
model.add(Dense(256, activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.5)) # 50% 드롭아웃 적용
model.add(Dense(128, activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3)) # 50% 드롭아웃 적용
model.add(Dense(64, activation='tanh',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3))  # 50% 드롭아웃 적용
#model.add(Dense(32, activation='tanh'))
#model.add(Dense(16, activation='tanh'))
#model.add(Dense(8, activation='tanh'))
model.add(Dense(1))


#model.compile(optimizer='adam', loss=lambda y_true, y_pred: weighted_mse(y_true, y_pred, get_batch_weights(weighted_loss_callback.batch_index, 64, weights_array)),metrics=['mse'])
#model.compile(optimizer='adam', loss=weighted_loss(0, 32, weights_array), metrics=['mse'])

#model.compile(loss='huber', optimizer='adam', metrics=['mse'])
model.compile(loss=W_mse(), optimizer='adam', metrics=['mse'])
model.summary()


hist = model.fit(x_train_df, y_train_df, epochs=80, batch_size=32,callbacks=[WeightedLossCallback_loss],validation_split=0.2)
#hist = model.fit(x_train_df, y_train_df, epochs=100, batch_size=32,validation_split=0.2)

2024-01-29 16:33:39.237441: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-29 16:33:39.240993: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set
2024-01-29 16:33:39.244869: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:0f:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2024-01-29 16:33:39.244927: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2024-01-29 16:33:39.244964: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2024-01-29 16:33:39.244996: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2024-01-29 16:33:39.245025: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2024-01-29 16:33:39.245055: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2024-01-29 16:33:39.245085: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2024-01-29 16:33:39.245114: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2024-01-29 16:33:39.245144: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2024-01-29 16:33:39.251601: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 3
2024-01-29 16:33:39.251647: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2024-01-29 16:33:40.246777: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1261] Device interconnect StreamExecutor with strength 1 edge matrix:
2024-01-29 16:33:40.246818: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1267]      3
2024-01-29 16:33:40.246825: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1280] 3:   N
2024-01-29 16:33:40.254224: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1406] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 53 MB memory) -> physical GPU (device: 3, name: NVIDIA GeForce RTX 2080 Ti, pci bus id: 0000:0f:00.0, compute capability: 7.5)
2024-01-29 16:33:40.429163: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2024-01-29 16:33:40.447151: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2400050000 Hz

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                768
_________________________________________________________________
dense_1 (Dense)              (None, 128)               8320
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 512)               131584
_________________________________________________________________
dropout_2 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_4 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_3 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_5 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_4 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_6 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_5 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 65
=================================================================
Total params: 346,241
Trainable params: 346,241
Non-trainable params: 0
_________________________________________________________________
Epoch 1/80

2024-01-29 16:33:41.170049: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10

238/238 [==============================] - 3s 9ms/step - loss: 59.9630 - mse: 1.4925 - val_loss: 18.5089 - val_mse: 0.1983
Epoch 2/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 30.4424 - mse: 0.5708 - val_loss: 20.4524 - val_mse: 0.2683
Epoch 3/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 24.7736 - mse: 0.4026 - val_loss: 20.1143 - val_mse: 0.2690
Epoch 4/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 21.8238 - mse: 0.3233 - val_loss: 16.0870 - val_mse: 0.1571
Epoch 5/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 20.6001 - mse: 0.3007 - val_loss: 16.0377 - val_mse: 0.1736
Epoch 6/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 19.1687 - mse: 0.2735 - val_loss: 14.4789 - val_mse: 0.1420
Epoch 7/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 18.5966 - mse: 0.2747 - val_loss: 14.9252 - val_mse: 0.1770
Epoch 8/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 17.5194 - mse: 0.2611 - val_loss: 13.8250 - val_mse: 0.1637
Epoch 9/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 16.5985 - mse: 0.2532 - val_loss: 12.7191 - val_mse: 0.1480
Epoch 10/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 15.8025 - mse: 0.2491 - val_loss: 11.8259 - val_mse: 0.1418
Epoch 11/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 15.2370 - mse: 0.2519 - val_loss: 11.2706 - val_mse: 0.1440
Epoch 12/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 13.9041 - mse: 0.2307 - val_loss: 10.3563 - val_mse: 0.1354
Epoch 13/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 13.3484 - mse: 0.2329 - val_loss: 9.2930 - val_mse: 0.1212
Epoch 14/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 12.6878 - mse: 0.2305 - val_loss: 8.6645 - val_mse: 0.1182
Epoch 15/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 11.8489 - mse: 0.2209 - val_loss: 8.1630 - val_mse: 0.1185
Epoch 16/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 11.1293 - mse: 0.2141 - val_loss: 7.7968 - val_mse: 0.1205
Epoch 17/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 10.9130 - mse: 0.2189 - val_loss: 7.5322 - val_mse: 0.1234
Epoch 18/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 10.3596 - mse: 0.2141 - val_loss: 9.3933 - val_mse: 0.1925
Epoch 19/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 10.4066 - mse: 0.2260 - val_loss: 6.4979 - val_mse: 0.1116
Epoch 20/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 9.6676 - mse: 0.2118 - val_loss: 6.2817 - val_mse: 0.1129
Epoch 21/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 9.3856 - mse: 0.2110 - val_loss: 7.8384 - val_mse: 0.1684
Epoch 22/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 8.8347 - mse: 0.2009 - val_loss: 6.5929 - val_mse: 0.1374
Epoch 23/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 9.0890 - mse: 0.2143 - val_loss: 5.2706 - val_mse: 0.0993
Epoch 24/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 8.1957 - mse: 0.1914 - val_loss: 6.4674 - val_mse: 0.1404
Epoch 25/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 8.6056 - mse: 0.2073 - val_loss: 5.9039 - val_mse: 0.1254
Epoch 26/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 8.1563 - mse: 0.1963 - val_loss: 6.2647 - val_mse: 0.1396
Epoch 27/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 8.1340 - mse: 0.1987 - val_loss: 6.3189 - val_mse: 0.1448
Epoch 28/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.8886 - mse: 0.1942 - val_loss: 5.1620 - val_mse: 0.1108
Epoch 29/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.4288 - mse: 0.1823 - val_loss: 4.9066 - val_mse: 0.1054
Epoch 30/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.4978 - mse: 0.1867 - val_loss: 5.5819 - val_mse: 0.1278
Epoch 31/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.5310 - mse: 0.1890 - val_loss: 6.2784 - val_mse: 0.1505
Epoch 32/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.6527 - mse: 0.1939 - val_loss: 4.2262 - val_mse: 0.0883
Epoch 33/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.3965 - mse: 0.1872 - val_loss: 4.5278 - val_mse: 0.0986
Epoch 34/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.2155 - mse: 0.1830 - val_loss: 4.2328 - val_mse: 0.0910
Epoch 35/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.2718 - mse: 0.1860 - val_loss: 4.2906 - val_mse: 0.0933
Epoch 36/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.1105 - mse: 0.1813 - val_loss: 4.5957 - val_mse: 0.1038
Epoch 37/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 7.1723 - mse: 0.1844 - val_loss: 5.3498 - val_mse: 0.1287
Epoch 38/80
nomal wmse
238/238 [==============================] - 2s 7ms/step - loss: 6.7444 - mse: 0.1721 - val_loss: 5.0251 - val_mse: 0.1198
Epoch 39/80
Shape wmse

Your TensorFlow version is newer than 2.4.0 and so graph support has been removed in eager mode and some static graphs may not be supported. See PR #1483 for discussion.
You have provided over 5k background samples! For better performance consider using smaller random sample.
2024-01-29 16:34:54.918864: W tensorflow/core/common_runtime/bfc_allocator.cc:433] Allocator (GPU_0_bfc) ran out of memory trying to allocate 18.57MiB (rounded to 19476480)requested by op BiasAdd
Current allocation summary follows.
2024-01-29 16:34:54.918921: I tensorflow/core/common_runtime/bfc_allocator.cc:972] BFCAllocator dump for GPU_0_bfc
2024-01-29 16:34:54.918974: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (256): 	Total Chunks: 54, Chunks in use: 53. 13.5KiB allocated for chunks. 13.2KiB in use in bin. 2.5KiB client-requested in use in bin.
2024-01-29 16:34:54.918992: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (512): 	Total Chunks: 7, Chunks in use: 6. 3.5KiB allocated for chunks. 3.0KiB in use in bin. 3.0KiB client-requested in use in bin.
2024-01-29 16:34:54.919006: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (1024): 	Total Chunks: 8, Chunks in use: 7. 8.5KiB allocated for chunks. 7.2KiB in use in bin. 7.0KiB client-requested in use in bin.
2024-01-29 16:34:54.919022: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (2048): 	Total Chunks: 8, Chunks in use: 7. 20.8KiB allocated for chunks. 17.0KiB in use in bin. 17.0KiB client-requested in use in bin.
2024-01-29 16:34:54.919035: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (4096): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919048: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (8192): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919060: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (16384): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919076: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (32768): 	Total Chunks: 10, Chunks in use: 10. 355.8KiB allocated for chunks. 355.8KiB in use in bin. 330.3KiB client-requested in use in bin.
2024-01-29 16:34:54.919089: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (65536): 	Total Chunks: 1, Chunks in use: 0. 74.5KiB allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919103: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (131072): 	Total Chunks: 8, Chunks in use: 8. 1.03MiB allocated for chunks. 1.03MiB in use in bin. 1.00MiB client-requested in use in bin.
2024-01-29 16:34:54.919115: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (262144): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919128: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (524288): 	Total Chunks: 9, Chunks in use: 9. 5.17MiB allocated for chunks. 5.17MiB in use in bin. 4.80MiB client-requested in use in bin.
2024-01-29 16:34:54.919140: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (1048576): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919152: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (2097152): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919164: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (4194304): 	Total Chunks: 1, Chunks in use: 0. 7.36MiB allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919186: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (8388608): 	Total Chunks: 1, Chunks in use: 1. 9.29MiB allocated for chunks. 9.29MiB in use in bin. 9.29MiB client-requested in use in bin.
2024-01-29 16:34:54.919214: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (16777216): 	Total Chunks: 1, Chunks in use: 1. 30.12MiB allocated for chunks. 30.12MiB in use in bin. 18.57MiB client-requested in use in bin.
2024-01-29 16:34:54.919236: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (33554432): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919256: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (67108864): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919278: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (134217728): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919299: I tensorflow/core/common_runtime/bfc_allocator.cc:979] Bin (268435456): 	Total Chunks: 0, Chunks in use: 0. 0B allocated for chunks. 0B in use in bin. 0B client-requested in use in bin.
2024-01-29 16:34:54.919323: I tensorflow/core/common_runtime/bfc_allocator.cc:995] Bin for 18.57MiB was 16.00MiB, Chunk State:
2024-01-29 16:34:54.919341: I tensorflow/core/common_runtime/bfc_allocator.cc:1008] Next region of size 56033280
2024-01-29 16:34:54.919368: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000000 of size 1280 next 1
2024-01-29 16:34:54.919391: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000500 of size 256 next 2
2024-01-29 16:34:54.919409: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000600 of size 256 next 6
2024-01-29 16:34:54.919430: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000700 of size 256 next 9
2024-01-29 16:34:54.919447: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000800 of size 256 next 11
2024-01-29 16:34:54.919458: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000900 of size 256 next 12
2024-01-29 16:34:54.919469: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000a00 of size 512 next 10
2024-01-29 16:34:54.919479: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000c00 of size 256 next 16
2024-01-29 16:34:54.919489: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000d00 of size 256 next 17
2024-01-29 16:34:54.919499: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000e00 of size 256 next 21
2024-01-29 16:34:54.919509: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74000f00 of size 256 next 22
2024-01-29 16:34:54.919518: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74001000 of size 256 next 3
2024-01-29 16:34:54.919528: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74001100 of size 256 next 4
2024-01-29 16:34:54.919538: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74001200 of size 256 next 5
2024-01-29 16:34:54.919548: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74001300 of size 1024 next 15
2024-01-29 16:34:54.919559: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74001700 of size 2048 next 7
2024-01-29 16:34:54.919572: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74001f00 of size 2816 next 8
2024-01-29 16:34:54.919591: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74002a00 of size 1024 next 20
2024-01-29 16:34:54.919608: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74002e00 of size 512 next 26
2024-01-29 16:34:54.919626: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74003000 of size 64000 next 14
2024-01-29 16:34:54.919646: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74012a00 of size 32768 next 13
2024-01-29 16:34:54.919663: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401aa00 of size 256 next 30
2024-01-29 16:34:54.919680: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401ab00 of size 256 next 31
2024-01-29 16:34:54.919697: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401ac00 of size 256 next 32
2024-01-29 16:34:54.919714: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401ad00 of size 256 next 33
2024-01-29 16:34:54.919731: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401ae00 of size 256 next 142
2024-01-29 16:34:54.919759: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401af00 of size 256 next 35
2024-01-29 16:34:54.919777: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b000 of size 256 next 36
2024-01-29 16:34:54.919795: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b100 of size 256 next 37
2024-01-29 16:34:54.919818: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b200 of size 256 next 38
2024-01-29 16:34:54.919834: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b300 of size 256 next 39
2024-01-29 16:34:54.919851: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b400 of size 256 next 40
2024-01-29 16:34:54.919868: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b500 of size 256 next 41
2024-01-29 16:34:54.919886: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b600 of size 256 next 42
2024-01-29 16:34:54.919904: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401b700 of size 2816 next 43
2024-01-29 16:34:54.919921: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401c200 of size 256 next 44
2024-01-29 16:34:54.919938: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401c300 of size 512 next 46
2024-01-29 16:34:54.919956: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401c500 of size 1024 next 47
2024-01-29 16:34:54.919973: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401c900 of size 2048 next 48
2024-01-29 16:34:54.919993: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401d100 of size 1024 next 50
2024-01-29 16:34:54.920013: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401d500 of size 512 next 52
2024-01-29 16:34:54.920031: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401d700 of size 256 next 54
2024-01-29 16:34:54.920048: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401d800 of size 256 next 55
2024-01-29 16:34:54.920065: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401d900 of size 256 next 56
2024-01-29 16:34:54.920082: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401da00 of size 2816 next 57
2024-01-29 16:34:54.920099: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401e500 of size 256 next 58
2024-01-29 16:34:54.920117: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401e600 of size 512 next 60
2024-01-29 16:34:54.920134: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401e800 of size 1024 next 62
2024-01-29 16:34:54.920151: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401ec00 of size 2048 next 64
2024-01-29 16:34:54.920169: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401f400 of size 1024 next 66
2024-01-29 16:34:54.920186: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401f800 of size 512 next 68
2024-01-29 16:34:54.920204: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401fa00 of size 256 next 70
2024-01-29 16:34:54.920221: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401fb00 of size 256 next 71
2024-01-29 16:34:54.920238: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401fc00 of size 256 next 72
2024-01-29 16:34:54.920258: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401fd00 of size 256 next 73
2024-01-29 16:34:54.920275: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401fe00 of size 256 next 74
2024-01-29 16:34:54.920295: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7401ff00 of size 2816 next 75
2024-01-29 16:34:54.920313: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74020a00 of size 256 next 81
2024-01-29 16:34:54.920337: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74020b00 of size 256 next 82
2024-01-29 16:34:54.920354: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74020c00 of size 256 next 84
2024-01-29 16:34:54.920371: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74020d00 of size 256 next 85
2024-01-29 16:34:54.920388: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74020e00 of size 256 next 86
2024-01-29 16:34:54.920405: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74020f00 of size 256 next 87
2024-01-29 16:34:54.920424: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021000 of size 256 next 88
2024-01-29 16:34:54.920443: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021100 of size 256 next 89
2024-01-29 16:34:54.920460: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021200 of size 256 next 90
2024-01-29 16:34:54.920474: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021300 of size 256 next 91
2024-01-29 16:34:54.920484: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021400 of size 256 next 92
2024-01-29 16:34:54.920494: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021500 of size 256 next 125
2024-01-29 16:34:54.920503: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021600 of size 256 next 97
2024-01-29 16:34:54.920513: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] Free  at 7fca74021700 of size 512 next 116
2024-01-29 16:34:54.920523: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021900 of size 256 next 113
2024-01-29 16:34:54.920533: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74021a00 of size 256 next 138
2024-01-29 16:34:54.920543: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] Free  at 7fca74021b00 of size 3840 next 28
2024-01-29 16:34:54.920553: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74022a00 of size 32768 next 29
2024-01-29 16:34:54.920562: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7402aa00 of size 32768 next 45
2024-01-29 16:34:54.920573: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74032a00 of size 163840 next 19
2024-01-29 16:34:54.920584: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7405aa00 of size 131072 next 18
2024-01-29 16:34:54.920595: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7407aa00 of size 131072 next 27
2024-01-29 16:34:54.920605: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7409aa00 of size 917504 next 23
2024-01-29 16:34:54.920615: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7417aa00 of size 524288 next 24
2024-01-29 16:34:54.920625: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca741faa00 of size 524288 next 25
2024-01-29 16:34:54.920634: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7427aa00 of size 524288 next 49
2024-01-29 16:34:54.920644: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca742faa00 of size 131072 next 51
2024-01-29 16:34:54.920654: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7431aa00 of size 32768 next 53
2024-01-29 16:34:54.920664: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74322a00 of size 32768 next 59
2024-01-29 16:34:54.920674: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7432aa00 of size 131072 next 61
2024-01-29 16:34:54.920684: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7434aa00 of size 524288 next 63
2024-01-29 16:34:54.920693: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca743caa00 of size 524288 next 65
2024-01-29 16:34:54.920703: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7444aa00 of size 131072 next 67
2024-01-29 16:34:54.920713: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7446aa00 of size 32768 next 69
2024-01-29 16:34:54.920724: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74472a00 of size 131072 next 76
2024-01-29 16:34:54.920734: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74492a00 of size 32768 next 77
2024-01-29 16:34:54.920744: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca7449aa00 of size 32768 next 78
2024-01-29 16:34:54.920753: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca744a2a00 of size 131072 next 79
2024-01-29 16:34:54.920763: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca744c2a00 of size 524288 next 80
2024-01-29 16:34:54.920773: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74542a00 of size 524288 next 83
2024-01-29 16:34:54.920783: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] Free  at 7fca745c2a00 of size 256 next 126
2024-01-29 16:34:54.920793: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca745c2b00 of size 256 next 99
2024-01-29 16:34:54.920802: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca745c2c00 of size 256 next 131
2024-01-29 16:34:54.920812: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] Free  at 7fca745c2d00 of size 1280 next 134
2024-01-29 16:34:54.920822: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca745c3200 of size 256 next 96
2024-01-29 16:34:54.920832: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] Free  at 7fca745c3300 of size 76288 next 117
2024-01-29 16:34:54.920842: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca745d5d00 of size 38144 next 128
2024-01-29 16:34:54.920852: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca745df200 of size 837120 next 148
2024-01-29 16:34:54.920862: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] Free  at 7fca746ab800 of size 7722240 next 34
2024-01-29 16:34:54.920873: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca74e08d00 of size 9738240 next 103
2024-01-29 16:34:54.920884: I tensorflow/core/common_runtime/bfc_allocator.cc:1028] InUse at 7fca75752500 of size 31578880 next 18446744073709551615
2024-01-29 16:34:54.920894: I tensorflow/core/common_runtime/bfc_allocator.cc:1033]      Summary of in-use Chunks by size:
2024-01-29 16:34:54.920910: I tensorflow/core/common_runtime/bfc_allocator.cc:1036] 53 Chunks of size 256 totalling 13.2KiB
2024-01-29 16:34:54.920923: I tensorflow/core/common_runtime/bfc_allocator.cc:1036] 6 Chunks of size 512 totalling 3.0KiB
2024-01-29 16:34:54.920934: I tensorflow/core/common_runtime/bfc_allocator.cc:1036] 6 Chunks of size 1024 totalling 6.0KiB
2024-01-29 16:34:54.920945: I tensorflow/core/common_runtime/bfc_allocator.cc:1036] 1 Chunks of size 1280 totalling 1.2KiB
2024-01-29 16:34:54.920956: I tensorflow/core/common_runtime/bfc_allocator.cc:1036] 3 Chunks of size 2048 totalling 6.0KiB

ResourceExhaustedError: OOM when allocating tensor with shape[9510,512] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc [Op:BiasAdd]

<h1>데이터로드</h1>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
print(hist.history.keys())
fig, loss_ax = plt.subplots()

loss_ax.plot(hist.history['loss'], 'y', label='train loss')
loss_ax.plot(hist.history['mse'], 'r', label='train mse')

loss_ax.plot(hist.history['val_loss'], 'b', label='v loss')
loss_ax.plot(hist.history['val_mse'], 'g', label='v mse')

loss_ax.set_xlabel('epoch')
loss_ax.set_ylabel('loss')

loss_ax.legend(loc='upper right')

In [ ]:
x_valid_df

In [ ]:
y_valid_df

In [ ]:
predictions = model.predict(x_valid_df)
predictions

In [ ]:
y_Im_Predict = pd.DataFrame(predictions, columns=['R_Insolation'])
y_Im_Predict

In [ ]:
actuals =y_valid_df
actuals

In [ ]:
time_index = actuals.index
y_Im_Predict['일시'] = time_index
y_Im_Predict

In [ ]:
y_Im_Predict = y_Im_Predict.set_index('일시')
y_Im_Predict

In [ ]:
actuals

In [ ]:


Im_predict = y_Im_Predict['R_Insolation']

fig = plt.figure(figsize=(20,8)) ## 캔버스 생성
ax = fig.add_subplot() ## 그림 뼈대(프레임) 생성

ax.plot(actuals['일사(MJ/m2)'], label='true')
ax.plot(Im_predict, label='pred',linestyle = '--')

ax.legend(loc='upper right')
plt.title('Prediction test of jeonju meterorological station irradiance',fontsize = 27)
plt.xlabel('time',fontsize = 27)
plt.ylabel('Irradiance',fontsize = 27)

plt.show()

In [ ]:
loss, mse = model.evaluate(x_valid_df, y_valid_df)
print("Test MSE:", mse)

In [ ]:
rmse = np.sqrt(mse)
ture=actuals.to_numpy()
pred=Im_predict.to_numpy()
error_rate = (rmse / np.mean(ture)) * 100
print("error_rate :", error_rate)

In [ ]:
epsilon = 1e-8
error_rates = np.abs(ture - pred) / (ture + epsilon)
max_error_rate = np.max(error_rates)
min_error_rate = np.min(error_rates)

print(f"Maximum error rate: {max_error_rate}")
print(f"Minimum error rate: {min_error_rate}")

lower_75_percentile_error_rate = np.percentile(error_rates, 20)
upper_75_percentile_error_rate = np.percentile(error_rates, 80)
print(f"Lower 75% error rate: {lower_75_percentile_error_rate}")
print(f"Upper 75% error rate: {upper_75_percentile_error_rate}")

In [ ]:

import shap

In [ ]:
print(filtered_b.values.shape)

<h1> custom loss def</h1>

In [ ]:
shap.initjs()
# SHAP GradientExplainer 초기화
explainer = shap.DeepExplainer(model, filtered_b.values)

# SHAP 값 계산
shap_values = explainer.shap_values(filtered_b.values)
#explainer.expected_value = explainer.expected_value[0]  # 필요한 경우 expected_value를 조정
feature_names = ['temp', 'c_irra', 'hour_cos','hour_sin','month_cos','month_sin','year','humy','cloud','Wx','Wy']
# SHAP 요약 플롯
shap.summary_plot(shap_values, filtered_b.values,feature_names=feature_names)

In [ ]:
explainer = shap.DeepExplainer(model, filtered_b.values)
shap_values = explainer.shap_values(filtered_b.values)
# 계산된 SHAP 값으로 Explanation 객체를 생성합니다.
# 이 부분은 SHAP 라이브러리의 버전에 따라 다를 수 있으니, 해당 문서를 참조하십시오.
feature_names = ['temp', 'c_irra', 'hour_cos','hour_sin','month_cos','month_sin','year','humy','cloud','Wx','Wy']
shap_explanation = shap.Explanation(values=shap_values, data=filtered_b.values,feature_names=feature_names)
print(shap_explanation.shape)

In [ ]:
# 모든 클래스에 대한 평균 SHAP 값 계산
average_shap = np.mean(shap_values, axis=0)
shap_explanation = shap.Explanation(values=average_shap, data=filtered_b.values,feature_names=feature_names)

# 평균 SHAP 값으로 beeswarm 플롯 그리기
shap.plots.beeswarm(shap_explanation)

In [ ]:
shap_values = explainer.shap_values(filtered_b.values)

In [ ]:

shap_values = np.array(shap_values)
shap_values = np.squeeze(shap_values, axis=0)

abs_shap_values = np.abs(shap_values)

In [ ]:
# 절대값에 대한 평균 계산
average_abs_shap_values = np.mean(abs_shap_values, axis=0)

normalized_shap_values = average_abs_shap_values / np.sum(average_abs_shap_values)
print(shap_values.shape)
print(average_abs_shap_values.shape)

print(average_abs_shap_values)
print(normalized_shap_values)

In [ ]:
import numpy as np
import shap

# 예측 모델의 기준값 (일반적으로 모델의 평균 출력)
base_value = model.predict(filtered_b.values).mean()

# 데이터셋의 모든 인스턴스에 대한 SHAP 값의 평균을 계산
average_shap_values = np.mean(shap_values, axis=0)